.container
	.row
		.col-md-8.mx-auto
			%br
			%br
			%h2.text-center.text-primary New Article
			=form_for @article do |f|
				%h3= f.label :Hidline 
				%p= f.text_field :hidline,class:"form-group form-control"
				%h3= f.label :Content 
				%p= f.rich_text_area :content,class:"form-group form-control"
				%p= f.submit class:"form-group form-control btn btn-primary"